<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="navbar">
        <a href="/user/dashboard">Dashboard</a>
        <a href="/logout" class="logout">Logout</a>
    </div>

    <div class="container">
        <h1>Export Data</h1>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST">

            <div class="form-group">
                <label>Select Type:</label>
                <div>
                    <input type="radio" id="cars" name="export_type" value="cars" {% if export_type == "cars" %} checked {% endif %} onchange="toggleCarSelection()"> 
                    <label for="cars">Cars</label>
                </div>
                <div>
                    <input type="radio" id="services" name="export_type" value="services" {% if export_type == "services" %} checked {% endif %} onchange="toggleCarSelection()"> 
                    <label for="services">Services</label>
                </div>
            </div>
            
            <div class="form-group" id="car_selection" style="display: none;">
                <div><label for="car_id">Select Car:</label></div>
                <select id="car_id" name="car_id">
                    <option value="" disabled selected>--------select--------</option>
                    {% for car in cars %}
                    <option value="{{ car.car_id }}">{{ car.name }} - {{ car.model }} ({{ car.year }})</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Export</button>
        </form>

        <script>
            function toggleCarSelection() {
                var exportType = document.querySelector('input[name="export_type"]:checked').value;
                var carSelection = document.getElementById("car_selection");
        
                if (exportType === "services") {
                    carSelection.style.display = "block";
                } else {
                    carSelection.style.display = "none";
                }
            }
        
            window.onload = function () {
                toggleCarSelection();
            };
        </script>

        <a href="{{ url_for('user_dashboard') }}" class="btn btn-secondary"
            style="display: inline-block; margin-top: 20px;"><<< Back</a>

    </div>

</body>

</html>