{% extends "base.html" %}

{% block content %}
    <h1>Manage Services</h1>
    <hr>
    <div style="margin-bottom: 15px;">
        <a href="{{ url_for('add_service') }}" class="add-button">+ Add Service</a>
    </div>
    {% if services %}
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Car Name</th>
                <th>Mileage</th>
                <th>Service Type</th>
                <th>Service Date</th>
                <th>Next Service Date</th>
                <th>Cost</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service['service_id'] }}</td>
                <td>{{ service['car_name'] }}</td>
                <td>{{ service['mileage'] }}</td>
                <td title="{{ service['service_type'] }}">{{ service['service_type'] | default('') | truncate(30, True) }}</td>
                <td>{{ service['service_date'] }}</td>
                <td>{{ service['next_service_date'] }}</td>
                <td>{{ service['cost'] }}</td>
                <td title="{{ service['notes'] }}">{{ service['notes'] | default('') | truncate(30, True) }}</td>
                <td>
                    <a href="{{ url_for('update_service', service_id=service.service_id) }}">Update</a> |
                    <a href="{{ url_for('delete_entity', entity='services', item_id=service.service_id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary" style="display: inline-block; margin-top: 20px;"><<< Back</a>

    {% else %}
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endif %}
{% endblock %}
