<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>

<body>
    <div class="navbar">
        {% if session['role'] == 'admin' %}
            <a href="/admin/dashboard">Dashboard</a>
        {% elif session['role'] == 'user' %}
            <a href="/user/dashboard">Dashboard</a>
        {% endif %}
        <a href="/logout" class="logout">Logout</a>
    </div>
    <div class="container">
        <h1>Oops, something went wrong!</h1>
        <p>{{ error_message }}</p>
    </div>

</body>

</html>
